# Build and packaged files
__pycache__
dist
build
egg-info
data

# Checkpoint files
.pth
.ckpt
.pt

# Source code management files
.svn
.git

# Graphical User Interface files
.DS_Store
Thumbs.db

# Backup and temporary files
*.bak
*.tmp
*.swp
*.log
*.cache
*.pyc
*.o
*.exe

# Source files
gradio
.gradio
BentoML
FastAPI
Reflex
Boostcamp-AI-Tech-Product-Serving
ai_image_gen